# {{ ansible_managed }}

server:
    use-syslog: yes
    log-queries: no
    log-replies: no
    log-servfail: yes
    do-daemonize: no
    username: "unbound"
    directory: "/etc/unbound"
    verbosity: 1
    statistics-interval: 21600 # every 6 h
    extended-statistics: no
    num-threads: 2
{% for ip in unbound_listen_ips %}
    interface: "{{ ip }}"
{% endfor %}
{% for ip in unbound_outgoing_ips %}
    outgoing-interface: "{{ ip }}"
{% endfor %}
    cache-min-ttl: 300
    cache-max-ttl: 86400
    do-ip4: yes
    do-ip6: yes
    do-udp: yes
    do-tcp: yes
    access-control: 0.0.0.0/0 deny
{% for subnet in unbound_allow_subnets %}
    access-control: "{{ subnet }}" allow
{% endfor %}
    hide-identity: yes
    hide-version: yes
    hide-trustanchor: yes
    harden-glue: yes
    harden-dnssec-stripped: yes
    use-caps-for-id: yes
{% for sd in unbound_stub_zones %}
    private-domain: "{{ sd.domain }}"
{% endfor %}
    prefetch: yes

    ratelimit: 1000
    ratelimit-size: 4m
    ratelimit-slabs: 2
    ratelimit-factor: 0

    root-hints: /usr/share/dns/root.hints

    local-zone: "10.in-addr.arpa." nodefault
    local-zone: "16.172.in-addr.arpa." nodefault
    local-zone: "17.172.in-addr.arpa." nodefault
    local-zone: "18.172.in-addr.arpa." nodefault
    local-zone: "19.172.in-addr.arpa." nodefault
    local-zone: "20.172.in-addr.arpa." nodefault
    local-zone: "21.172.in-addr.arpa." nodefault
    local-zone: "22.172.in-addr.arpa." nodefault
    local-zone: "23.172.in-addr.arpa." nodefault
    local-zone: "24.172.in-addr.arpa." nodefault
    local-zone: "25.172.in-addr.arpa." nodefault
    local-zone: "26.172.in-addr.arpa." nodefault
    local-zone: "27.172.in-addr.arpa." nodefault
    local-zone: "28.172.in-addr.arpa." nodefault
    local-zone: "29.172.in-addr.arpa." nodefault
    local-zone: "30.172.in-addr.arpa." nodefault
    local-zone: "31.172.in-addr.arpa." nodefault
    local-zone: "168.192.in-addr.arpa." nodefault

{% for sd in unbound_stub_zones %}
stub-zone:
    name: "{{ sd.domain }}."
    stub-no-cache: yes
{% for server in sd.dns_servers %}
    stub-addr: {{ server }}
{% endfor %}

{% endfor %}

{% for rz in unbound_v4_reverse_zones %}
stub-zone:
    name: "{{ rz.zone }}.in-addr.arpa"
    stub-no-cache: yes
{% for server in rz.dns_servers %}
    stub-addr: {{ server }}
{% endfor %}

{% endfor %}

python:
remote-control:
